<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:oelib="OliverKlee\Oelib\ViewHelpers"
      data-namespace-typo3-fluid="true">
    <div class="table-responsive">
        <table class="table table-hover table-striped w-auto">
            <thead>
                <tr>
                    <oelib:isFieldEnabled fieldName="date">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.date"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="eventType">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.eventType"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="topic">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.topic"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="organizer">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.organizer"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="city">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.city"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="venue">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.venue"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="eventFormat">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.eventFormat"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="categories">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.categories"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="speakers">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.speakers"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="eventUid">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.eventUid"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="price">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.price"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="vacancies">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.vacancies"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled fieldName="registration">
                        <th scope="col">
                            <f:translate key="plugin.eventOutlook.events.property.registration"/>
                        </th>
                    </oelib:isFieldEnabled>
                </tr>
            </thead>
            <tbody>
                <f:for each="{events}" as="event">
                    <tr>
                        <oelib:isFieldEnabled fieldName="date">
                            <td>
                                <f:render partial="EventDate" arguments="{event: event}"/>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="eventType">
                            <td>
                                <f:if condition="{event.eventType}">
                                    {event.eventType.title}
                                </f:if>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="topic">
                            <td>
                                <f:link.action action="show" arguments="{event: event}"
                                               pageUid="{settings.singleViewPage}">
                                    {event.displayTitle}
                                </f:link.action>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="organizer">
                            <td>
                                <f:for each="{event.organizers}" as="organizer" iteration="iteration">
                                    {organizer.name}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                                </f:for>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="city">
                            <td>
                                <f:for each="{event.cityNames}" as="cityName" iteration="iteration">
                                    {cityName}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                                </f:for>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="venue">
                            <td>
                                <f:for each="{event.venues}" as="venue" iteration="iteration">
                                    {venue.title}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                                </f:for>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="eventFormat">
                            <td>
                                <f:translate key="plugin.eventOutlook.events.property.eventFormat.{event.eventFormat}"/>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="categories">
                            <td>
                                <f:for each="{event.categories}" as="category">
                                    {category.title}
                                </f:for>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="speakers">
                            <td>
                                <f:for each="{event.speakers}" as="speaker" iteration="iteration">
                                    {speaker.name}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                                </f:for>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="eventUid">
                            <td class="text-end">
                                <f:translate key="plugin.eventOutlook.events.property.eventUid.number"
                                             arguments="{0: event.uid}"/>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="price">
                            <td class="text-end text-nowrap">
                                <f:if condition="{event.standardPrice}">
                                    <f:render partial="PriceWithVat" arguments="{amount: event.standardPrice}"/>
                                </f:if>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="vacancies">
                            <td class="text-nowrap">
                                <f:render partial="Event/Vacancies"
                                          arguments="{event: event, viewName: 'eventOutlook'}"/>
                            </td>
                        </oelib:isFieldEnabled>
                        <oelib:isFieldEnabled fieldName="registration">
                            <td>
                                <f:render partial="Event/RegistrationLink"
                                          arguments="{event: event, viewName: 'eventOutlook'}"/>
                            </td>
                        </oelib:isFieldEnabled>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
</html>
