<!DOCTYPE html>
<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:oelib="OliverKlee\Oelib\ViewHelpers">
<f:layout name="FrontEndDefault"/>

<f:section name="main">
    <f:variable name="event" value="{registration.event}"/>

    <oelib:isFieldEnabled fieldName="topic">
        <h1>
            {event.displayTitle}
        </h1>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="eventType">
        <f:if condition="{event.eventType}">
            <h2>
                {event.eventType.title}
            </h2>
        </f:if>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="registrationStatus">
        <h4>
            <f:translate key="plugin.myRegistrations.show.heading.registrationStatus"/>
        </h4>
        <f:variable name="alertStyles" value="{0: 'success', 1: 'danger', 2: 'warning'}"/>
        <div class="alert alert-{alertStyles.{registration.status}}">
            <f:translate key="plugin.myRegistrations.property.registrationStatus.{registration.status}"/>
        </div>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="dateAndTime">
        <f:if condition="{event.start}">
            <h3>
                <f:translate key="plugin.eventSingleView.events.property.dateAndTime"/>
            </h3>

            <f:render arguments="{event: event}" partial="Event/DateAndTime"/>

            <f:if condition="{event.timeSlots -> f:count()}">
                <f:render arguments="{event: event}" partial="Event/TimeSlots"/>
            </f:if>
        </f:if>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="venue">
        <f:if condition="{event.venues}">
            <h3>
                <f:translate key="plugin.eventSingleView.events.property.venue"/>
            </h3>

            <f:render arguments="{event: event}" partial="Event/Venues"/>
        </f:if>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="attendanceMode">
        <f:if condition="{registration.attendanceMode}">
            <h3>
                <f:translate key="plugin.myRegistrations.show.heading.attendanceMode"/>
            </h3>
            <p>
                <f:translate key="plugin.myRegistrations.property.attendanceMode.{registration.attendanceMode}"/>
            </p>
        </f:if>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="categories">
        <f:if condition="{event.categories}">
            <h3>
                <f:translate key="plugin.eventSingleView.events.property.categories"/>
            </h3>
            <p>
                <f:for as="category" each="{event.categories}" iteration="iteration">
                    {category.title}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                </f:for>
            </p>
        </f:if>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="room">
        <f:if condition="{event.room}">
            <h3>
                <f:translate key="plugin.eventSingleView.events.property.room"/>
            </h3>
            <p>
                {event.room}
            </p>
        </f:if>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="targetGroups">
        <f:if condition="{event.targetGroups}">
            <h3>
                <f:translate key="plugin.myRegistrations.show.heading.targetGroups"/>
            </h3>
            <p>
                <f:for as="targetGroup" each="{event.targetGroups}" iteration="iteration">
                    {targetGroup.title}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                </f:for>
            </p>
        </f:if>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="teaser">
        <f:if condition="{event.teaser}">
            <p>
                {event.teaser}
            </p>
        </f:if>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="description">
        <f:if condition="{event.description}">
            {event.description -> f:format.html()}
        </f:if>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="speakers">
        <f:render arguments="{event: event}" partial="Event/SpeakersHeading"/>
        <f:render arguments="{event: event}" partial="Event/Speakers"/>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="unregistration">
        <f:if condition="{unregistrationIsPossible}">
            <h3>
                <f:translate key="plugin.myRegistrations.show.heading.unregistration"/>
            </h3>
            <p>
                <f:link.action action="checkPrerequisites" arguments="{registration: registration}"
                               controller="EventUnregistration">
                    <f:translate key="plugin.myRegistrations.show.toUnregistrationForm"/>
                </f:link.action>
            </p>
        </f:if>
    </oelib:isFieldEnabled>

    <oelib:isFieldEnabled fieldName="downloads">
        <f:if
            condition="{event.downloadsForAttendees} && {event.downloadPossibleByDate} && {registration.regularRegistration}">
            <h3>
                <f:translate key="plugin.myRegistrations.show.heading.downloads"/>
            </h3>
            <ul class="list-group">
                <f:for as="fileReference" each="{event.downloadsForAttendees}">
                    <li class="list-group-item">
                        <f:variable name="originalResource" value="{fileReference.originalResource}"/>
                        <f:link.action action="downloadAttendeeAttachment"
                                       arguments="{registration: registration, fileUid: originalResource.originalFile.uid}"
                                       target="_blank">
                            <f:if condition="{originalResource.title}">
                                <f:then>
                                    {originalResource.title}
                                </f:then>
                                <f:else>
                                    {originalResource.name}
                                </f:else>
                            </f:if>
                        </f:link.action>
                    </li>
                </f:for>
            </ul>
        </f:if>
    </oelib:isFieldEnabled>

    <f:if condition="{registration.downloadableCertificate}">
        <h3>
            <f:translate key="plugin.myRegistrations.show.heading.certificateOfAttendance"/>
        </h3>
        <p>
            <f:link.action action="show" arguments="{registration: registration}" controller="Certificate"
                           target="_blank">
                <f:translate key="plugin.myRegistrations.show.displayCertificateOfAttendance"/>
            </f:link.action>
        </p>
    </f:if>
</f:section>
</html>
