<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="FrontEndEditor"/>

    <f:section name="main">
        <h2>
            {event.displayTitle}
            <f:render partial="EventDate" arguments="{event: event}"/>
        </h2>

        <f:variable name="dateFormat" value="{f:translate(key: 'dateFormat')}"/>
        <f:variable name="timeFormat" value="{f:translate(key: 'timeFormat')}"/>

        <f:if condition="{regularRegistrations}">
            <h3>
                <f:translate key="plugin.frontEndEditor.listRegistrations.headline.regularRegistrations"/>
            </h3>

            <div class="table-responsive">
                <table class="table table-hover table-striped w-auto">
                    <thead>
                        <tr>
                            <th scope="col">
                                <f:translate key="plugin.frontEndEditor.listRegistrations.tableHeading.number"/>
                            </th>
                            <th scope="col">
                                <f:translate
                                    key="plugin.frontEndEditor.listRegistrations.tableHeading.membershipNumber"/>
                            </th>
                            <th scope="col">
                                <f:translate key="plugin.frontEndEditor.listRegistrations.tableHeading.name"/>
                            </th>
                            <th scope="col">
                                <f:translate key="plugin.frontEndEditor.listRegistrations.tableHeading.address"/>
                            </th>
                            <th scope="col">
                                <f:translate key="plugin.frontEndEditor.listRegistrations.tableHeading.email"/>
                            </th>
                            <th scope="col">
                                <f:translate key="plugin.frontEndEditor.listRegistrations.tableHeading.telephone"/>
                            </th>
                            <th scope="col">
                                <f:translate key="plugin.frontEndEditor.listRegistrations.tableHeading.dateOfBirth"/>
                            </th>
                            <th scope="col">
                                <f:translate
                                    key="plugin.frontEndEditor.listRegistrations.tableHeading.registrationDate"/>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{regularRegistrations}" as="registration" iteration="iteration">
                            <f:variable name="user" value="{registration.user}"/>
                            <tr>
                                <td>
                                    {iteration.cycle}
                                </td>
                                <td>
                                    {user.membershipNumber}
                                </td>
                                <td>
                                    {user.displayName}
                                </td>
                                <td>
                                    {user.address}
                                    <f:if condition="{user.address} && ({user.zip} || {user.city})">
                                        <br/>
                                    </f:if>
                                    {user.zip} {user.city}
                                </td>
                                <td>
                                    <f:link.email email="{user.email}"/>
                                </td>
                                <td>
                                    {user.telephone}
                                </td>
                                <td>
                                    <f:if condition="{user.dateOfBirth}">
                                        <f:format.date date="{user.dateOfBirth}" format="{dateFormat}"/>
                                    </f:if>
                                </td>
                                <td>
                                    <f:format.date date="{registration.registrationDate}" format="{dateFormat}"/>
                                    <f:format.date date="{registration.registrationDate}" format="{timeFormat}"/>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </div>
        </f:if>
    </f:section>
</html>
