<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="FrontEndEditor"/>

    <f:section name="main">
        <h2>
            {event.displayTitle}
            <f:render partial="EventDate" arguments="{event: event}"/>
        </h2>

        <f:if condition="!{regularRegistrations}">
            <p class="alert alert-info" role="alert">
                <f:translate key="plugin.frontEndEditor.listRegistrations.message.noRegistrations"/>
            </p>
        </f:if>

        <f:if condition="{regularRegistrations}">
            <h3>
                <f:translate key="plugin.frontEndEditor.listRegistrations.headline.regularRegistrations"/>
            </h3>

            <f:render partial="FrontEndEditor/Registrations" arguments="{registrations: regularRegistrations}"/>
        </f:if>
    </f:section>
</html>
