<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:oelib="OliverKlee\Oelib\ViewHelpers"
      data-namespace-typo3-fluid="true">
    <div class="table-responsive">
        <table class="table table-hover table-striped w-auto">
            <thead>
                <tr>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="date">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.date"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="eventType">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.eventType"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="topic">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.topic"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="organizer">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.organizer"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="city">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.city"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="venue">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.venue"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="attendanceMode">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.attendanceMode"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="categories">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.categories"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="speakers">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.speakers"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="eventUid">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.eventUid"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="registrationStatus">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.registrationStatus"/>
                        </th>
                    </oelib:isFieldEnabled>
                    <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="certificateOfAttendance">
                        <th scope="col">
                            <f:translate key="plugin.myRegistrations.index.heading.certificateOfAttendance"/>
                        </th>
                    </oelib:isFieldEnabled>
                </tr>
            </thead>
            <tbody>
                <f:for each="{registrations}" as="registration">
                    <f:variable name="event" value="{registration.event}"/>
                    <f:if condition="{event}">
                        <tr>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="date">
                                <td>
                                    <f:render partial="EventDate" arguments="{event: event}"/>
                                </td>
                            </oelib:isFieldEnabled>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="eventType">
                                <td>
                                    <f:if condition="{event.eventType}">
                                        {event.eventType.title}
                                    </f:if>
                                </td>
                            </oelib:isFieldEnabled>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="topic">
                                <td>
                                    <f:link.action action="show" arguments="{registration: registration}">
                                        {event.displayTitle}
                                    </f:link.action>
                                </td>
                            </oelib:isFieldEnabled>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="organizer">
                                <td>
                                    <f:for each="{event.organizers}" as="organizer" iteration="iteration">
                                        {organizer.name}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                                    </f:for>
                                </td>
                            </oelib:isFieldEnabled>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="city">
                                <td>
                                    <f:for each="{event.cityNames}" as="cityName" iteration="iteration">
                                        {cityName}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                                    </f:for>
                                </td>
                            </oelib:isFieldEnabled>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="venue">
                                <td>
                                    <f:for each="{event.venues}" as="venue" iteration="iteration">
                                        {venue.title}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                                    </f:for>
                                </td>
                            </oelib:isFieldEnabled>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="attendanceMode">
                                <td>
                                    <f:if condition="{registration.attendanceMode}">
                                        <f:translate
                                            key="plugin.myRegistrations.property.attendanceMode.{registration.attendanceMode}"/>
                                    </f:if>
                                </td>
                            </oelib:isFieldEnabled>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="categories">
                                <td>
                                    <f:for each="{event.categories}" as="category">
                                        {category.title}
                                    </f:for>
                                </td>
                            </oelib:isFieldEnabled>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="speakers">
                                <td>
                                    <f:for each="{event.speakers}" as="speaker" iteration="iteration">
                                        {speaker.name}{f:if(condition: iteration.isLast, then: '', else: ', ')}
                                    </f:for>
                                </td>
                            </oelib:isFieldEnabled>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="eventUid">
                                <td class="text-end">
                                    <f:translate key="plugin.myRegistrations.property.eventUid.number"
                                                 arguments="{0: event.uid}"/>
                                </td>
                            </oelib:isFieldEnabled>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="registrationStatus">
                                <td>
                                    <f:translate
                                        key="plugin.myRegistrations.property.registrationStatus.{registration.status}"/>
                                </td>
                            </oelib:isFieldEnabled>
                            <oelib:isFieldEnabled configurationKey="columnsToShow" fieldName="certificateOfAttendance">
                                <td>
                                    <f:if condition="{registration.downloadableCertificate}">
                                        <f:link.action controller="Certificate" action="show"
                                                       arguments="{registration: registration}"
                                                       title="{f:translate(key: 'plugin.myRegistrations.index.displayCertificateOfAttendance.long')}"
                                                       target="_blank">
                                            <f:translate
                                                key="plugin.myRegistrations.index.displayCertificateOfAttendance.short"/>
                                        </f:link.action>
                                    </f:if>
                                </td>
                            </oelib:isFieldEnabled>
                        </tr>
                    </f:if>
                </f:for>
            </tbody>
        </table>
    </div>
</html>
